<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'validate-form') do |f| %>
        <span class="login100-form-title p-b-33">
          User Login
        </span>
        <div class="login-google-image">
          <a href="/users/auth/google_oauth2" class="btn-google m-b-20">
          <img src="/assets/React-Google-Login.png" alt="GOOGLE">
        </a>  
        </div>
        
        <div class="text-center">
          <span class="txt1">
            OR Sign In with Email
          </span>
        </div>
        <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
          <%= f.email_field :email, autofocus: true, autocomplete: "email" ,placeholder: "Email" , class: 'input100'%>
          <span class="focus-input100-1"></span>
          <span class="focus-input100-2"></span>
        </div>

        <div class="wrap-input100 rs1 validate-input" data-validate="Password is required">
          <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password" , class: "input100" %>
          <span class="focus-input100-1"></span>
          <span class="focus-input100-2"></span>
        </div>

        <div>
          <%= f.submit "Sign in" , class: "btn btn-primary btn-lg btn-block"%>
        </div>

        <div class="text-center">
          <span class="txt1">
            Create an account?
          </span>

        </div>
          <%= link_to "Sign up", new_registration_path(resource_name) , class: "btn btn-info btn-lg btn-block"%><br />
      <% end %> <!-- form end-->
    </div>
  </div> <!-- container div close-->
</div>

