<div class="modal fade" id="add_student_form_modal_header" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <% @student||= student %>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <%# Render the new person form (passing modal => true to enable remote => true) %>
        <%= render 'student_update_form', student: @student %>
      </div><br>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    $(".delete_student_record").click(function (){
      var id = $("#student_id").val();
      $.ajax({
        type: "delete",
        url : "/students/" +id+ ".json",
        success: function(data)
        {
          if (data["status"] == "false"){
            $('.notice').fadeIn().html($('<p class="alert alert-danger"> '+data.errors[0]+'</p></div>').fadeIn());setTimeout(function(){ $('.notice').fadeOut(); }, 3000);
            $("#add_student_form_modal_header").modal('hide')
          }else{
            $("#add_student_form_modal_header").modal('hide')
            $('.notice').fadeIn().html($('<p class="alert alert-danger">Student was successfully Deleted.</p></div>').fadeIn());setTimeout(function(){ $('.notice').fadeOut(); }, 3000);
            $('#student_table').DataTable().ajax.reload();
          }
        },
        error: function(data){
          $('.notice').fadeIn().html($('<p class="alert alert-danger">Something Went Wrong While Saving New Student Record.</p></div>').fadeIn());setTimeout(function(){ $('.notice').fadeOut(); }, 3000);
        }
      }); //ajax end
    }); //function end
 }); //main function end
</script>