<p class="notice"></p>
<!-- <p class="error"></p> -->
<label style="text-align: center;width: 924px;font-family: monospace;font-size: xx-large;margin-top: 45px;">Student Records</label>
<!-- Form start -->

<%= form_with(model: student, local: true, class: "form-horizontal", id: "loginForm", remote: true) do |form| %>
  <%= form.hidden_field :user_id, :value => @current_user.id %>
  <%#= form.hidden_field :id, :value => student.id %>
  <div class="row set_row_width">
    <div class="col-25">
      <label for="fname" class="cutom_css">Student Name</label>
    </div>
    <div class="col-75">
      <%= form.text_field :name , placeholder: "Jhoe Doye" ,required: true%>
    </div>
  </div>
  <div class="row set_row_width">
    <div class="col-25">
      <label for="fname" class="cutom_css">Student Class</label>
    </div>
    <div class="col-75">
      <%= form.text_field :student_class , placeholder: "Class X" ,required: true%>
    </div>
  </div>
  <div class="row set_row_width" >
    <div class="col-25">
      <label for="fname" class="cutom_css">Student Address</label>
    </div>
    <div class="col-75 has-error">
      <%= form.text_area :address , placeholder: "XYZ, Delhi 110049", class: "form-control" ,required: true%>
    </div>
  </div>
  <div class="row set_row_width">
    <div class="col-25" >
      <label for="fname" class="cutom_css">Student Phone</label>
    </div>
    <div class="col-75">
      <%= form.text_field :phone , placeholder: "9990625846", required: true %>
    </div>
  </div>
  <div class="pull-right form_button">
    <%= form.button "Submit" ,class: "btn btn-danger btn-lg btn-block" %>
  </div>
<% end %><!-- Form end -->
