<% @students ||= students %>
<!-- Table Start-->
<table id="student_table" data-source="<%= students_path(format: :json) %>", style="width:100" class="table">
  <thead>
    <tr class="table-head">
      <th></th>
      <th>Student ID</th>
      <th>Date</th>
      <th>Name</th>
      <th>Student Class</th>
      <th>Phone</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr class="find-selected-checkbox">
        <td></td><!--<input type="checkbox" class="checkbox"> -->
        <td><%= student.id%></td>
        <td><%= format_date(student.created_at)%></td>
        <td><%= student.name %></td>
        <td><%= student.student_class %></td>
        <td><%= student.phone %></td>
        <td><%= student.address %></td>
      </tr>
    <% end %>
  </tbody>
</table><!-- Table End-->