<%= form_with(model: @student, local: true, class: "form-horizontal", class: "student-form", remote: true) do |form| %>
  <%= form.hidden_field :user_id, :value => @current_user.id %>
  <%= form.hidden_field :id, :value => @student.id %>
  <div class="row set_row_width">
    <div class="col-25">
      <label for="fname" class="cutom_css">Student Name</label>
    </div>
    <div class="col-75">
      <%= form.text_field :name , placeholder: "Jhoe Doye" ,required: true%>
    </div>
  </div>
  <div class="row set_row_width">
    <div class="col-25">
      <label for="fname" class="cutom_css">Student Class</label>
    </div>
    <div class="col-75">
      <%= form.text_field :student_class , placeholder: "Class X" ,required: true%>
    </div>
  </div>
  <div class="row set_row_width" >
    <div class="col-25">
      <label for="fname" class="cutom_css">Student Address</label>
    </div>
    <div class="col-75 has-error">
      <%= form.text_area :address , placeholder: "XYZ, Delhi 110049", class: "form-control" ,required: true%>
    </div>
  </div>
  <div class="row set_row_width">
    <div class="col-25" >
      <label for="fname" class="cutom_css">Student Phone</label>
    </div>
    <div class="col-75">
      <%= form.text_field :phone , placeholder: "9990625846", required: true %>
    </div>
  </div><br>
  <div class="row">
    <input type="hidden" id="ss_id" name="ss_id" value="<%= @student.id %>">
    <input class="btn btn-danger btn-lg col-sm-4 delete_student_record" type="button" value="Delete Record"></input>
    <button type="submit" class="btn btn-primary btn-lg col-sm-4 rrupdate_student_record">Edit Record</button>
  </div>

<% end %><!-- Form end -->

<script type="text/javascript">
  $(function() {
    $(".student-form").validate({
      // errorClass: "validate_error",
      rules:{
        'student[phone]':{
          digits: true,
          minlength:10,
          maxlength:10,
        }
      },
      messages:{
        'student[phone]':"Invalid Mobile Number"
      },
      submitHandler: function(form) {
        var id = $("#student_id").val();
        $.ajax({
          type: "put",
          url : "/students/" +id+ ".json",
          data: $(".student-form").serialize(), // serializes the form's elements.
          success: function(data)
          {
            $("#add_student_form_modal_header").modal('hide')
            if (data["status"] == "false"){
              $('.notice').fadeIn().html($('<p class="alert alert-danger"> '+data.errors[0]+'</p></div>').fadeIn());setTimeout(function(){ $('.notice').fadeOut(); }, 3000);
            }else{
              $('.notice').fadeIn().html($('<p class="alert alert-success">Student was successfully Updated.</p></div>').fadeIn());setTimeout(function(){ $('.notice').fadeOut(); }, 3000);
              $('#student_table').DataTable().ajax.reload();
            }
          },
          error: function(data){
            $('.notice').fadeIn().html($('<p class="alert alert-danger">Something Went Wrong While Saving New Student Record.</p></div>').fadeIn());setTimeout(function(){ $('.notice').fadeOut(); }, 3000);
          }
        }); //ajax close
      } //submit handler close
    }); //form close
  }); //main function close
</script>