<div style="text-align: center;">
  <label style="font-family: monospace;font-size: xx-large;">Super Admin</label><br>
  <label style="font-family: monospace;font-size: xx-large;">Signed up Users</label><br>
</div>
<table id="user_table" data-source="<%= students_path(format: :json) %>", style="width:100" class="table">
  <thead>
    <tr class="table-head">
      <th>Users</th>
      <th>Date</th>
      <th>Name</th>
      <th>Login Email</th>
      <th>View Students</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id%></td>
        <td><%= format_date(user.created_at) %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><% user.id%></td>
      </tr>
    <% end %>
  </tbody>
</table><!-- Table End-->

