<div class="user-details">
	<%= render 'user_details' %>
</div>
<div style="text-align: center; margin-top: 70px">
	<label style="font-family: monospace;font-size: xx-large;" class="user-name"></label><br>
</div>
<div class="student-details"></div>

<script type="text/javascript">
	$(document).ready(function() {
		$('#user_table').DataTable( {
			"searching": false,
			"paging": false,
			"lengthChange": false,
	 		"bInfo" : false,
	 		dom: 'Bfrtip',
	 		 buttons: 
      [
        {
          extend: 'excel',
          text: 'Download Excel',
          exportOptions: {
            columns: ":not(:last-child)"
          }
        }, 
        {
          extend: 'csv',
          text: 'Download CSV',
          exportOptions: {
            columns: ":not(:last-child)"
          }
        },
      ],
			"columnDefs": [ {
        "targets": -1,
        "data": null,
        render: function(data){
        	return '<button class="btn-view" name= '+data[0]+' type="button">View</button>';
        }
    	} ]
		});

		$(".btn-view").click(function(){
	    var user_id = $(this).attr('name')
	    $.ajax({
	      type: "GET",
	      url: "/get_student_by_user.js",
	      data: {user_id: user_id},
	      error: function(){alert("Sorry there was an error while loading the 'Student'. Please try refreshing the page.");}
	    });
  	});
	});
</script
