var user_name = "<%= @user.name%>"
$('.student-details').html("<%= escape_javascript render(:partial => 'student_records', :locals => { :student => @student}) %>");
$(".user-name").text(user_name + " Data")
$('#student_table').DataTable({
	"searching": false,
	"lengthChange": false,
	"bInfo" : false,
		dom: 'Bfrtip',
	buttons: 
	[
	  {
	    extend: 'excel',
	    text: 'Download Excel',
	    exportOptions: {
	      columns: ':not(.select-checkbox)'
	    }
	  }, 
	  {
	    extend: 'csv',
	    text: 'Download CSV',
	    exportOptions: {
	      columns: ':not(.select-checkbox)'
	    }
	  },
	],
	columnDefs: 
  [ 
    {
      orderable: false,
      className: 'select-checkbox',
      visible: false,
      targets:   0,
      value: 0
    } 
  ],
});

