<%= render 'form', student: @student, modal: false %>
<div id="student_modal_show">
  <%= render 'add_student_form_modal', student: @student %>
</div><br>
<label style="text-align: center;width: 924px;font-family: monospace;font-size: xx-large;">Historical Data</label><br>
<%= render 'student_records', students: @students %>
<br>

<script>
  jQuery.extend(jQuery.validator.messages, {
    required: "Mandatory Field",
  });
  $(document).ready(function() {

    $('#student_table').DataTable( {
      dom: 'Bfrtip', 
      "drawCallback": function(settings) {
        loadselectcheckbox();
      },
      "bFilter": false,
      buttons: 
      [
        {
          extend: 'excel',
          text: 'Download Excel',
          exportOptions: {
            columns: ':not(.select-checkbox)'
          }
        }, 
        {
          extend: 'csv',
          text: 'Download CSV',
          exportOptions: {
            columns: ':not(.select-checkbox)'
          }
        },
      ],
      columnDefs: 
      [ 
        {
          orderable: false,
          className: 'select-checkbox',
          targets:   0,
          value: 0
        } 
      ],
      columns: 
      [
        {defaultContent: ""},
        {data: 'id'},
         {
            data: 'created_at',
            type: 'date',
            render: function (data, type, row) {  return data.substr(0, 10); } //{return data ? moment(data).format('MM/DD/YY') : '';}
        },
        {data: 'name'},
        {data: 'student_class'},
        {data: 'phone'},
        {data: 'address'}
      ],
      select: {
        style:    'os',
          selector: 'td:first-child'
      },
      order: [[ 0, 'asc' ]]
    });
  });

  $(document).ready(function() {
    $("#loginForm").validate({
      rules:{
        'student[phone]':{
          digits: true,
          minlength:10,
          maxlength:10,
        }
      },
      messages:{
        'student[phone]':"Invalid Mobile Number"
      },
      submitHandler: function(form) {
        $.ajax({
          type: "POST",
          url : "/students.json",
          data: $("#loginForm").serialize(), // serializes the form's elements.
          success: function(data)
          {
          if (data["status"] == "false"){
            $('.notice').fadeIn().html($('<p class="alert alert-danger"> '+data.errors[0]+'</p></div>').fadeIn());setTimeout(function(){ $('.notice').fadeOut(); }, 3000);
          }else{
            $('#loginForm')[0].reset();
            $('.notice').fadeIn().html($('<p class="alert alert-success">Student was successfully created.</p></div>').fadeIn());setTimeout(function(){ $('.notice').fadeOut(); }, 3000);
            $('#student_table').DataTable().ajax.reload();}
          },
          error: function(data){
            $('.notice').fadeIn().html($('<p class="alert alert-danger">Something Went Wrong While Saving New Student Record.</p></div>').fadeIn());setTimeout(function(){ $('.notice').fadeOut(); }, 3000);
          }
        }); //ajax end
      } //submit handler end
    }); //form end
  });//ready function end

  function loadselectcheckbox() {
    $(".select-checkbox").click(function (){
      if (!$(this).parent().eq(0).hasClass("selected")) {
        var id = $(this).next().eq(0).html();
        $.ajax({
          type: "GET",
          url: '/students/'+id+ ".js"
        })  
      }
    })
  };
</script>