$('#student_modal_show').html("<%= escape_javascript render(:partial => 'add_student_form_modal', :locals => { :student => @student, current_user: @current_user }) %>");
$("#add_student_form_modal_header").modal('show')
