*{
  box-sizing: border-box;
  font-family: monospace;
  font-size: 17px;
  /*color: #ffffff;*/
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
tr.even {
  background-color: lightgray !important;
}
.user-details {
    margin-top: 38px;
}
table#student_table {
    width: 100% !important;
}
input.checkbox {
  width: 25px;
  height: 20px;
}
div#student_table_wrapper {
  margin-top: 33px;
}

img {
  width: 401px;
}

.login-google-image {
  margin-left: -10px;
}

/*DATATABLE END*/
button.btn.btn-danger.btn-lg.col-sm-4 {
  text-align: center;
  margin-left: 94px;
  /*font-family: monospace;*/
}
tr.table-head {
  color: white;
  font-family: monospace;
  font-size: 15px;
}
td {
  font-size: 15px;
  font-family: monospace;
}
/*DATATABLE END*/
div#add_student_form_modal_header {
  margin-top: 153px;
}
button.btn.btn-primary.btn-lg.col-sm-4 {
  text-align: center;
  margin-left: 94px;
  font-family: monospace;
}
input.btn.btn-danger.btn-lg.col-sm-4.delete_student_record {
  margin-left: 84px;
}

button.btn.btn-danger.btn-lg.btn-block {
  width: 229px;
  background: #e22828;
}
.pull-right.form_button {
    margin-top: -198px;
    margin-right: 38px;
}
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
#loginForm textarea.error {
  background-color: antiquewhite;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
  margin-left: 28px;
}
.row.set_row_width {
    width: 1136px;
}
.col-75 {
  float: left;
  width: 41%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

label.cutom_css {
  padding: 12px 12px 12px 0;
  display: inline-block;
  background: #54a5ec;
  width: 234px;
  text-align: center;
}
/* Student Index Page CSS Start*/
tr {
  background-color: mediumpurple;
}
.modal-header {
  display: inline-block;
  background-color: #007bff;
}

h4.modal-title {
  text-align: center;
}

#loginForm input.error {
  background-color: antiquewhite;
}

.error {
  color:red !important;
}

/* END*/

/* MODAL CSS START*/
.modal-content {
  width: 850px;
  margin-left: -139px;
}

.modal-body {
  text-align: center;
}
/*END */