<% if notice %>
	<p class="alert alert-success"><%= notice %></p>
<% end %>

<% if alert %>
	<p class="alert alert-danger"><%= alert %></p>
<% end %>

<script type="text/javascript">
  setTimeout(function(){
    $('.alert').fadeOut();
   }, 10000);
</script>