<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- Button -->
    <% if user_signed_in? %>
      <div class="navbar-header">
        Logged in as: <strong><%= current_user.email %></strong>.
      </div>
      <%#= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>
      <%= button_to "Logout", destroy_user_session_path, method: :delete, :class => 'btn btn-default navbar-btn navbar-right'  %>

    <% else %>
      <%#= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %>
      <%#= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
    <% end %>
  </div>
</nav>