<!DOCTYPE html>
<html>
  <head>
    <title>Studentproject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= render 'layouts/load_js_and_css' %>
  </head>

  <body>
    <div class="container">
    <%= render 'layouts/flash' %>
    <%= render 'layouts/header' %>
    <%= yield %>
  </div>
  </body>
</html>



  
