<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: 'user-registration') do |f| %>
        <% if resource.errors.any? %>
          <!-- <div id="error_explanation"> -->
            <div class="alert alert-danger alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <p><strong>This form contains <%= pluralize(resource.errors.count, 'error') %>.</strong></p>
              <ul>
                <% resource.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <!-- </div> -->
        <% end %>
        <span class="login100-form-title p-b-33">
          User Registration
        </span>
        <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
          <%= f.email_field :email, autofocus: true, autocomplete: "email" ,placeholder: "Email" , class: 'input100', required: true%>
          <span class="focus-input100-1"></span>
          <span class="focus-input100-2"></span>
        </div>

        <div class="wrap-input100 rs1 validate-input" data-validate="Password is required">
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password" , class: "input100", required: true%>
          <span class="focus-input100-1"></span>
          <span class="focus-input100-2"></span>
        </div>

        <div class="wrap-input100 rs1 validate-input" data-validate="Password is required">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password Confirmation" , class: "input100" , required: true%>
          <span class="focus-input100-1"></span>
          <span class="focus-input100-2"></span>
        </div>
        <div>
          <%= f.submit "Sign Up" , class: "btn btn-primary btn-lg btn-block"%>
        </div>

        <div class="text-center">
          <span class="txt1">
            OR click to login 
          </span>
        </div>
          <%= link_to "Sign In", new_session_path(resource_name) , class: "btn btn-info btn-lg btn-block"%><br />
      <% end %>
    </div>
  </div>
</div>



